 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    
    padding: 20px;
    background-color: rgb(75, 75, 240);
    
}

h1 {
    
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
  
}


#searchBar{
    
    padding:15px;
    width: 265px;
    border-radius: 10px;
    
}

#searchbtn{
    
    padding:15px;
    width: 265px;
    border-radius: 10px;
    background-color: rgb(148, 148, 228);
    
    
}


h3{
    font-size: 33px;
    margin-left: 310px;
    
}

.container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 10px;
    
}
.weather1 {

    background-color: rgb(31, 31, 97);
    height: 225px;
    width: 200px;

}
.weather2 {

    background-color: rgb(31, 31, 97);
    height: 225px;
    width: 200px;

}

.weather3 {

    background-color: rgb(31, 31, 97);
    height: 225px;
    width: 200px;

}

.weather4 {

    background-color: rgb(31, 31, 97);
    height: 225px;
    width: 200px;

}
.weather5 {

    background-color: rgb(31, 31, 97);
    height: 225px;
    width: 200px;
    

}